@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.filteredPromotedLinks {
  
  $box-size: 150px;

  .container {
    max-width: 100%;
    margin: 0px auto;
    position: relative;
  }
  
  .pLinkItemWrapper {
    float: left;
    display: block;
    height: $box-size;
    width: $box-size;
    position: relative;
    border: #bebebe 1px solid;
    margin: 0px 8px 8px 0px;
  }

  .pLinkItemImage {
    height: $box-size;
    width: $box-size;
  }

  .pLinkItemHoverPanel {
    position: absolute;
    top: $box-size * .80;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba( 0,0,0,0.6 );
    filter: alpha(opacity=50);
    padding: 2px;
    overflow: hidden;

    &:hover {
      top: 0px;
      transition-property: top;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    &:hover::after {
      top: 0px;
      transition-property: top;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
  }

  .pLinkItemHoverPanelExpanded {
    @extend .pLinkItemHoverPanel;
    top: 0px;
    transition-property: top;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .pLinkItemHoverPanelCollapse {
    @extend .pLinkItemHoverPanel;
    top: $box-size * .80;
    transition-property: top;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }



  .pLinkItemTitle {
    line-height: ($box-size - ($box-size * .80)) - 4px;
    font-weight: bold;
    color: #eee;
  }

  .pLinkItemDesc {
    font-size: 8pt;
    color: #ccc;
  }

  .pLinkItemOwner {
    font-size: 8pt;
    color: #ccc;
    font-weight: bold;
  }
}